{{#partial "content"}}

   <h1>Blog list!</h1>

   {{#if blogs}}
       <p>Current blog:</p>
       {{#each blogs }} <!--loop-->
        <p>{{ feelings }}  <a href="/blogs/{{id}}">read more...</a> </p> <!--show-->
        <p>{{ createdAt }}</p> <!--show-->
       {{/each}}
   {{else}} <!--no blogs!-->
    <p>No blogs!</p>
   {{/if}}

   <p>Add a new Blog:</p>

{{/partial}}

{{> layout.hbs}}