{{#partial "content"}}

   <h1>Add a new Blog!</h1>

   <form action="/blogs/new" method="post">
       <label for="inputFeelings">Blog Content</label>
       <input id="inputFeelings" name="inputFeelings" type="text">
       <button type="submit" class="btn btn-default">Add new blog</button>
   </form>
{{/partial}}

{{> layout.hbs}}